
.item{
    border: 2px solid black;
    width: 500px;
    height: 500px;
    padding:10px 10px; 
    position: relative;
}
.one{
    width: 100px;
    height: 100px;
    background-color: aqua;
}
.two{
    width: 100px;
    height: 100px;
    background-color: aqua;
   position: absolute; 
   right: 10px;
   top: 10px;
}
.three{
    width: 100px;
    height: 100px;
    background-color: aqua;
   position: absolute; 
   left: 10px;
   bottom: 10px;
}
.four{
    width: 100px;
    height: 100px;
    background-color: aqua;
   position: absolute; 
   right: 10px;
   bottom: 10px; 
}